.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 790px;
    padding: 1rem;
    border-radius: 9999px; /* Para hacerlo completamente redondeado */
    border: 1px solid #a855f7; /* Borde morado */
    background-color: #000; /* Fondo negro */
    color: white;
  }
  
  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .icon {
    color: #a855f7; /* Color del ícono */
  }
  
  .link {
    color: #a855f7;
    text-decoration: none;
    margin-left: 180px;
  }
  
  .link:hover {
    text-decoration: underline;
  }